<p>custom works!</p>



<form [formGroup]="clienteForm" (ngSubmit)="enviar()">
    <h2>Address</h2>
  
    <label for="firstName">First Name: </label>
    <input id="firstName" type="text" formControlName="firstName">
    <br>
    <app-email formControlName="email"></app-email>
<br>
<label>Calificación</label>
		<app-star-rating formControlName="rating"></app-star-rating>
		<span class="error" *ngIf="clienteForm.controls.rating.hasError('min')">La calificación mínima es 3</span>
		<button type="submit">Enviar</button>
</form>

  {{clienteForm.value | json}}


  